In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
print("Success")

Success

In [29]:
driver = webdriver.Chrome()
product_brand=[]
product = []
discount = []
print("Success")

driver.get("https://www.myntra.com/women-heels?f=Heel%20Height%3A4%20inches&plaEnabled=false")
print("Successfull driver.get")
print("Brand: ",len(product_brand))
print("Name: ",len(product))

Success
Successfull driver.get
Brand:  0
Name:  0

In [30]:
content = driver.page_source
soup = BeautifulSoup(content)
for element in soup.findAll('div', attrs={'class':'product-productMetaInfo'}):
    brand=element.find('h3', attrs={'class':'product-brand'})
    pname=element.find('h4', attrs={'class':'product-product'})
    try:
        product_brand.append(brand.text)
        product.append(pname.text)
    except:
        continue

In [31]:
print("Brand: ",len(product_brand))
print("Name: ",len(product))

Brand:  50
Name:  50

In [32]:
df = pd.DataFrame({'Product Name':product,'Product Brand':product_brand})

In [33]:
df.head()

                   Product Name Product Brand
0                   Women Heels       Catwalk
1       Strappy Platform Wedges    Marc Loire
2             Women Solid Heels         Anouk
3  Woven Design Open Toe Wedges         Taavi
4          Women Open Toe Heels       Catwalk

In [34]:
df.to_csv('products.csv', index=False, encoding='utf-8')
data = pd.read_csv('products.csv')

In [35]:
data.head()

                   Product Name Product Brand
0                   Women Heels       Catwalk
1       Strappy Platform Wedges    Marc Loire
2             Women Solid Heels         Anouk
3  Woven Design Open Toe Wedges         Taavi
4          Women Open Toe Heels       Catwalk